<ion-view view-title="med.inion">
  <ion-content>
    <div class="row">
      <div class="col text-center">
        <img src="img/minionlogo-medinion.png" width="80%"/>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-90">
        <button class="button button-full button-positive" ng-click="goto('avatar')">MY AVATAR</button>
        <button class="button button-full button-positive" ng-click="goto('health')">MY HEALTH</button>
        <button class="button button-full button-positive" ng-click="goto('physicians')">MY PHYSICIANS</button>
        <button class="button button-full button-positive">MY APPOINTMENTS</button>
        <button class="button button-full button-positive">SETTINGS</button>
      </div>
    </div>
  </ion-content>
</ion-view>
